.medium-editor-container * {
    outline: none;
    box-sizing: border-box;
}

.medium-editor-container {
    height: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

.medium-editor-container p,
.medium-editor-container h1,
.medium-editor-container h2,
.medium-editor-container h3,
.medium-editor-container h4,
.medium-editor-container h5,
.medium-editor-container h6,
.medium-editor-container ul,
.medium-editor-container ol,
.medium-editor-container blockquote {
    max-width: 1000px;
    margin: 0 auto;
}

.medium-editor-container ul,
.medium-editor-container ol {
    margin-left: auto !important;
    padding-left: 30px;
}

.medium-editor-container .medium-editor-element:empty, .medium-editor-container .medium-editor-placeholder {
    max-width: 1000px;
    margin: 0 auto;
}

.medium-editor-container .editor {
    max-width: 1000px;
    margin: 0 auto;
}

.medium-editor-container .medium-editor-placeholder::after {
    max-width: 1000px;
    margin: 0 auto;
    display: block;
}

.medium-editor-container .editor.has-content {
    max-width: 100%;
    margin: 0 auto;
}

.medium-editor-container .editor.has-content.medium-editor-placeholder::after {
    display: none;
}


.medium-editor-container h1 {
    font-size: 2.5em;
    margin-bottom: 0.1em;
}

.medium-editor-container h2 {
    font-size: 2.2em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
}

.medium-editor-container h3 {
    font-size: 1.9em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
}

.medium-editor-container h4 {
    font-size: 1.6em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
}

.medium-editor-container h5 {
    font-size: 1.3em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
}

.medium-editor-container h6 {
    font-size: 1em;
    margin-bottom: 0.1em;
}

.medium-editor-container p {
    margin-bottom: 1em;
}

.medium-editor-container ul {
    margin-left: 30px;
    list-style: disc;
}

.medium-editor-container ul li {
    margin-bottom: 0.5em
}

.medium-editor-container ol {
    margin-left: 30px;
}

.medium-editor-container ol li {
    margin-bottom: 0.5em
}

.medium-editor-container iframe {
    width: 1px;
    min-width: 100%;
}

.medium-editor-container blockquote {
    border-left: 3px solid #3B3E3E;
    padding-left: 30px;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    font-style: italic;
}

.medium-editor-container * {
    outline: none;
}

.medium-editor-container .insert-image-container {
    display: flex;
    position: fixed;
    left: 100px;
    top: 100px;
    transform: translate(-54px, -7px);
    z-index: 99;
}

.medium-editor-container .insert-image-container .btn-toggle {
    border: 1px solid #DDD;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    color: var(--font-color);
    background-color: var(--bg-color);
    outline: none;
}

.medium-editor-container .image-handler {
    display: flex;
    position: fixed;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -20px);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 99;
}

.medium-editor-container .image-handler .btn-toggle {
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    outline: none;
}

.medium-editor-container .image-handler .btn-toggle img {
    display: block;
    width: 100%;
    height: auto;
}

.medium-editor-container .image-handler .btn-toggle:hover {
    cursor: pointer;
    color: #00BD6A;
}

.medium-editor-container .insert-image-container .insert-image-menu {
    display: flex;
}

.medium-editor-container .insert-image-container .insert-image-menu .btn-toggle {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.medium-editor-container .editor-image {
    display: block;
    max-width: 1000px;
    margin: 2rem auto;
    position: relative;
}

.medium-editor-container .editor-image {
    max-width: 100%;
    overflow: hidden;
}

.medium-editor-container .editor-image img {
    width: 100%;
    object-fit: cover;
    height: inherit;
}

.medium-editor-container .editor-image input {
    border: 0;
    display: block;
    font-size: 0.7rem;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto 2rem;
}

.medium-editor-container .editor-embed > a {
    display: none;
}

.empty::after {
    content: "text";
    font-size: 2rem;
    opacity: 0;
}

.is-focus {
    resize: both;
    overflow: auto;
}
